gerenciador/ISPO-CLIENTEWS/src/wsdl/74.63.218.158_8080/ISPO-EJB/PerfilService/PerfilService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://apartida.com.br/servicos/PerfilService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PerfilService" targetNamespace="http://apartida.com.br/servicos/PerfilService">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://apartida.com.br/servicos/PerfilService" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://apartida.com.br/servicos/PerfilService">
  <xs:complexType name="inPesquisarPelaEmpresa">
    <xs:sequence>
      <xs:element name="idEmpresa" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="outPesquisarPerfis">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="perfil" nillable="true" type="tns:perfilDTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="perfilDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="empresa" type="tns:empresaDTO"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="funcionalidades" nillable="true" type="tns:funcionalidadeDTO"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="nome" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empresaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cep" type="xs:string"/>
      <xs:element minOccurs="0" name="cidade" type="xs:string"/>
      <xs:element minOccurs="0" name="cnpj" type="xs:string"/>
      <xs:element minOccurs="0" name="estado" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="nome" type="xs:string"/>
      <xs:element minOccurs="0" name="pais" type="xs:string"/>
      <xs:element minOccurs="0" name="plano" type="tns:planoDTO"/>
      <xs:element minOccurs="0" name="telefone" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="planoDTO">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="funcionalidades" nillable="true" type="tns:funcionalidadeDTO"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="nome" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="funcionalidadeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="idFuncionalidade" type="xs:long"/>
      <xs:element minOccurs="0" name="idMenuPai" type="xs:long"/>
      <xs:element minOccurs="0" name="nome" type="xs:string"/>
      <xs:element minOccurs="0" name="url" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IspoException" type="tns:IspoException"/>
  <xs:complexType name="IspoException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="inPesquisarPerfis" nillable="true" type="tns:inPesquisarPelaEmpresa"/>
  <xs:element name="perfis" nillable="true" type="tns:outPesquisarPerfis"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="pesquisarPerfisPelaEmpresa">
    <wsdl:part element="tns:inPesquisarPerfis" name="inPesquisarPerfis">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IspoException">
    <wsdl:part element="tns:IspoException" name="IspoException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pesquisarPerfisPelaEmpresaResponse">
    <wsdl:part element="tns:perfis" name="perfis">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PerfilService">
    <wsdl:operation name="pesquisarPerfisPelaEmpresa">
      <wsdl:input message="tns:pesquisarPerfisPelaEmpresa" name="pesquisarPerfisPelaEmpresa">
    </wsdl:input>
      <wsdl:output message="tns:pesquisarPerfisPelaEmpresaResponse" name="pesquisarPerfisPelaEmpresaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:IspoException" name="IspoException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PerfilServiceSoapBinding" type="tns:PerfilService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="pesquisarPerfisPelaEmpresa">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="pesquisarPerfisPelaEmpresa">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="pesquisarPerfisPelaEmpresaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IspoException">
        <soap:fault name="IspoException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PerfilService">
    <wsdl:port binding="tns:PerfilServiceSoapBinding" name="PerfilServicePort">
      <soap:address location="http://74.63.218.158:8080/ISPO-EJB/PerfilService/PerfilService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>